## Creating Pandas DataFrame

In [2]:
import pandas as pd
import numpy as np

In [3]:
stud_dict = {'Student': ['Ibrahim', 'Emeka', 'Ayomide'],
             'Score': [76, 75, 77]}

In [5]:
pd.DataFrame(stud_dict)

   Student  Score
0  Ibrahim     76
1    Emeka     75
2  Ayomide     77

In [6]:
array = np.array([[1, 2, 3], [4, 5, 6]])

In [7]:
array

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
pd.DataFrame(array, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

In [9]:
a_list = [{'a': 1, 'b': 2, 'c': 3}, {'a': 4, 'b': 5, 'c': 6}]

In [10]:
pd.DataFrame(a_list)

   a  b  c
0  1  2  3
1  4  5  6

In [11]:
a_list = [{'a': 1, 'b': 2}, {'a': 4, 'b': 5, 'c': 6}]

In [12]:
pd.DataFrame(a_list)

   a  b    c
0  1  2  NaN
1  4  5  6.0