In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(['Lagos', 'Delta', 'Kaduna'])

In [3]:
ser

0     Lagos
1     Delta
2    Kaduna
dtype: object

In [4]:
ser1 = pd.Series([1, 2, 40, 53])

In [5]:
ser1

0     1
1     2
2    40
3    53
dtype: int64

In [6]:
state = ['Lagos', 'Delta', 'Kaduna']
capital = ['Ikeja', 'Asaba', 'Kaduna']

In [7]:
ser2 = pd.Series(data=capital, index=state)

In [8]:
ser2

Lagos      Ikeja
Delta      Asaba
Kaduna    Kaduna
dtype: object

In [9]:
state_dict = {'Lagos': 'Ikeja', 
              'Delta': 'Asaba', 
              'Kaduna': 'Kaduna'}

In [10]:
ser3 = pd.Series(state_dict)

In [11]:
ser3

Lagos      Ikeja
Delta      Asaba
Kaduna    Kaduna
dtype: object

In [12]:
arr = np.arange(1, 10)

In [13]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
ser4 = pd.Series(arr)

In [15]:
ser4

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [16]:
arr1 = np.random.randn(5)

In [17]:
arr1

array([ 0.16660471, -1.05023038, -0.49198313, -0.85387018,  0.11199058])

In [18]:
ser5 = pd.Series(arr1)

In [19]:
ser5

0    0.166605
1   -1.050230
2   -0.491983
3   -0.853870
4    0.111991
dtype: float64

### Converting DataFrames to Series

In [21]:
pd.read_csv('Customer.csv')

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
...,...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East
789,RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central
790,SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central
791,RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East
792,SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East

In [22]:
pd.read_csv('Customer.csv', usecols=['Customer Name'])

         Customer Name
0          Claire Gute
1      Darrin Van Huff
2       Sean O'Donnell
3      Brosina Hoffman
4         Andrew Allen
..                 ...
788       Carl Jackson
789         Roy Skaria
790         Sung Chung
791    Ricardo Emerson
792  Susan MacKendrick

[793 rows x 1 columns]

In [23]:
pd.read_csv('Customer.csv', usecols=['Customer Name'], squeeze=True)

0            Claire Gute
1        Darrin Van Huff
2         Sean O'Donnell
3        Brosina Hoffman
4           Andrew Allen
             ...
788         Carl Jackson
789           Roy Skaria
790           Sung Chung
791      Ricardo Emerson
792    Susan MacKendrick
Name: Customer Name, Length: 793, dtype: object

## Pandas Series Attributes and Methods

In [24]:
# Lists and Dictionary
a_list = [40, 2, 1, 53, 34]
state = ['Lagos', 'Delta', 'Kaduna']
state_dict = {'Lagos': 'Ikeja', 
              'Delta': 'Asaba', 
              'Kaduna': 'Kaduna'}

In [25]:
ser6 = pd.Series(state_dict)

In [26]:
ser6

Lagos      Ikeja
Delta      Asaba
Kaduna    Kaduna
dtype: object

In [27]:
ser6.index

Index(['Lagos', 'Delta', 'Kaduna'], dtype='object')

In [28]:
ser6.values

array(['Ikeja', 'Asaba', 'Kaduna'], dtype=object)

In [29]:
ser6.dtype

dtype('O')

In [30]:
ser7 = pd.Series(a_list)

In [31]:
ser7

0    40
1     2
2     1
3    53
4    34
dtype: int64

In [32]:
ser7.mean()

26.0

In [33]:
ser7.sum()

130

In [34]:
ser7.astype(str)

0    40
1     2
2     1
3    53
4    34
dtype: object

In [35]:
ser7

0    40
1     2
2     1
3    53
4    34
dtype: int64

In [37]:
listt = list(ser7)

In [38]:
listt

[40, 2, 1, 53, 34]

In [40]:
dictt = dict(ser6)

In [41]:
dictt

{'Lagos': 'Ikeja', 'Delta': 'Asaba', 'Kaduna': 'Kaduna'}

In [42]:
sorted(ser7)

[1, 2, 34, 40, 53]

In [43]:
len(ser7)

5

## Extracting values from Series

In [44]:
ser7

0    40
1     2
2     1
3    53
4    34
dtype: int64

In [45]:
ser6

Lagos      Ikeja
Delta      Asaba
Kaduna    Kaduna
dtype: object

In [46]:
ser7[3]

53

In [48]:
ser7[2]

1

In [49]:
ser7[0:3]

0    40
1     2
2     1
dtype: int64

In [50]:
ser7[[0, 3]]

0    40
3    53
dtype: int64

In [52]:
ser6['Lagos']

'Ikeja'

In [53]:
ser6[['Lagos', 'Kaduna']]

Lagos      Ikeja
Kaduna    Kaduna
dtype: object

In [54]:
ser6.get('Lagos')

'Ikeja'

## Operations on Pandas Series

In [59]:
ser7

0    40
1     2
2     1
3    53
4    34
dtype: int64

In [60]:
ser7.min()

1

In [61]:
ser7.max()

53

In [62]:
ser7.idxmax() # Index position of the maximum number

3

In [63]:
ser7.idxmin()

2

In [64]:
ser7[ser7.idxmax()]

53

In [65]:
ser7.sum()

130

In [66]:
ser7.count()

5

In [67]:
ser7.sum() / ser7.count()

26.0

In [68]:
ser7.mean()

26.0

In [69]:
ser7.describe()

count     5.000000
mean     26.000000
std      23.398718
min       1.000000
25%       2.000000
50%      34.000000
75%      40.000000
max      53.000000
dtype: float64

## Apply and Map method

In [70]:
age = [40, 17, 18, 35, 25]

In [71]:
age

[40, 17, 18, 35, 25]

In [72]:
state

['Lagos', 'Delta', 'Kaduna']

In [73]:
state_dict

{'Lagos': 'Ikeja', 'Delta': 'Asaba', 'Kaduna': 'Kaduna'}

In [74]:
ser8 = pd.Series(age)

In [75]:
ser8

0    40
1    17
2    18
3    35
4    25
dtype: int64

In [76]:
ser6

Lagos      Ikeja
Delta      Asaba
Kaduna    Kaduna
dtype: object

In [77]:
ser

0     Lagos
1     Delta
2    Kaduna
dtype: object

In [78]:
ser.map(ser6)

0     Ikeja
1     Asaba
2    Kaduna
dtype: object

In [79]:
ser.map('Hi, I am from {}'.format) # Interesting right?!

0     Hi, I am from Lagos
1     Hi, I am from Delta
2    Hi, I am from Kaduna
dtype: object

In [80]:
ser8.map(lambda x: x + 1)

0    41
1    18
2    19
3    36
4    26
dtype: int64

In [81]:
def age_classify(age):
    if age < 20:
        return 'Teenagers'
    else:
        return 'Adults'

In [82]:
ser8.apply(age_classify)

0       Adults
1    Teenagers
2    Teenagers
3       Adults
4       Adults
dtype: object

In [84]:
ser8.apply(lambda x: 'Teenagers' if x < 20 else 'Adults')

0       Adults
1    Teenagers
2    Teenagers
3       Adults
4       Adults
dtype: object

In [85]:
ser8.apply(lambda x: x + 1)

0    41
1    18
2    19
3    36
4    26
dtype: int64